@{
    ViewData["Title"] = "My Items";
}

<div class="nowrap-container flex-column">
    <div class="bottom-row-section">
        <div class="card card-scheduled-payments  w-100">
            <h2>Board Members, Comittee, Homeowners Directory</h2>
            <div class="scheduled-details">
                <ul>
                    <li>Name, Phone, Email, Address</li>
                </ul>
            </div>
        </div>
    </div>
</div>