@using HoaPortalApp.Application.Features.Users.Results;
@{
    ViewData["Title"] = "Home Page";
    @model UserSummaryResult
}
<div class="dashboard-content">
    <div class="payment-left-section">
    <!-- Balance Card -->
        <div class="card payment-card-decorator balance-card">
            <h3>Your Current Balance</h3>
            <div class="card-body">
                @if (Model != null && Model.OwnerResidences != null && Model.OwnerResidences.Any())
                {
                    
                }
                <p>There is nothing for you to pay.</p>
                <div class="payment-info">
                    <p><span class="status-dot green"></span> You have scheduled a payment of your full balance that will occur on 11/17/2023.</p>
                    <div class="button-group">
                        <button type="button" class="btn-primary" data-bs-target="#paymentModal" data-bs-toggle="modal">Pay Now</button>
                        <button type="button" class="btn-secondary" data-bs-target="#autopayModal" data-bs-toggle="modal">Set Up Autopay</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Upcoming Events Card -->
        <div class="card events-card-decorator events-card">
            <h3>Upcoming Events</h3>
            <div class="card-body">
                <p><strong>Voting Member's Meeting</strong><br>Meeting of the Board of Managers</p>
                <p>Sunday, November 12, 2023 | 01:00 PM - 02:00 PM</p>
                <a href="@Url.Action("CalendarAndEvents", "Home")" class="btn-secondary float-end">View Calendar</a>
            </div>
        </div>

    </div>

    <div class="payment-right-section">
        <!-- Board Member Reports Card -->
        <div class="card reports-card-decorator board-reports-card">
            <h3>Recent Messages</h3>
            <div class="card-body">

                <!-- Messages Table -->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>From</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody id="messageTableBody">
                        <tr>
                            <td>John Doe</td>
                            <td>Maintenance Issue</td>
                            <td>There's a broken pipe in my yard.</td>
                            <td>2024-10-12</td>
                        </tr>
                        <!-- More rows as needed -->
                    </tbody>
                </table>
                <a href="@Url.Action("MyItems", "Home")" class="btn-primary w-100">View All</a>
            </div>
        </div>

        <!-- Architectural Review Requests Card -->
        <div class="card review-card-decorator review-requests-card">
            <h3>Recent Requests</h3>
            <div class="card-body">

                <!-- Messages Table -->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>From</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody id="messageTableBody">
                        <tr>
                            <td>John Doe</td>
                            <td>Maintenance Issue</td>
                            <td>There's a broken pipe in my yard.</td>
                            <td>2024-10-12</td>
                        </tr>
                        <!-- More rows as needed -->
                    </tbody>
                </table>
                <a href="@Url.Action("MyItems", "Home")" class="btn-primary w-100">View All</a>
            </div>
        </div>

    <partial name="PaymentModal" />
    <partial name="AutopayModal" />
</div>